body {
    padding-bottom: 3em;
}

#mainContent {
    margin: 0 auto;
    max-width: 1302px;
}

.frameScroll {
    width: 100%;
    overflow: auto;
    margin: 1em 0;
}

iframe {
    display: block;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    margin: 0;
    width: 1300px;
}

.viewPortSizeContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 2ex;
    border-width: 2px;
    border-style: solid none none none;
    border-color: #AAAAAA;
    background-color: #DDDDDD;
    text-align: center;
    font-size: 80%;
}

.viewPortSizeContainer .label {
    width: 26ex;
    float: left;
}

.viewPortSizeContainer .control {
    margin-left: 26ex;
}

.viewPortSizeContainer .control #viewPortSizeSlider {   
    margin: 3px 5%;
}

.viewPortSizeContainer .control .key {
    border-spacing: 0;
    width: 100%;
}

.viewPortSizeContainer .control .key,
.viewPortSizeContainer .control .key * {
}

.viewPortSizeContainer .control .key td {
    padding: 1px 0;
    margin: 0;
    border: 0;
}

.viewPortSizeContainer .control .key td.odd {
    background-color: #C6C6C6;
}

.viewPortSizeContainer .control .key td.mini {
}


.viewPortSizeContainer .control .key td.mini {
    width: 35.6%;
}

.viewPortSizeContainer .control .key td.small {
    width: 28.8%;
}

.viewPortSizeContainer .control .key td.medium {
    width: 21.6%;
}

.viewPortSizeContainer .control .key td.large {
    width: 14%;
}

@media screen and (max-width: 480px) {
    .viewPortSizeContainer .label {
        width: auto;
        float: none;
    }
        
    .viewPortSizeContainer .control {
        margin-left: 0;
    }
}