body.edge {
  margin: 0;
  padding: 0;
}
.responsive.center {
  margin-left: auto;
  margin-right: auto;
}
.responsive.right {
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .responsive {
    width: 1152px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 1000px) {
  .responsive {
    width: 960px;
  }
}
.row .column {
  box-sizing: border-box;
  float: left;
  width: 100%;
}
.row .column.span1 {
  width: 8.333333333333334%;
}
.row .column.span2 {
  width: 16.666666666666668%;
}
.row .column.span3 {
  width: 25%;
}
.row .column.span4 {
  width: 33.333333333333336%;
}
.row .column.span5 {
  width: 41.666666666666664%;
}
.row .column.span6 {
  width: 50%;
}
.row .column.span7 {
  width: 58.333333333333336%;
}
.row .column.span8 {
  width: 66.66666666666667%;
}
.row .column.span9 {
  width: 75%;
}
.row .column.span10 {
  width: 83.33333333333333%;
}
.row .column.span11 {
  width: 91.66666666666667%;
}
@media screen and (min-width: 640px) {
  .row .column.span1-small {
    width: 8.333333333333334%;
  }
  .row .column.span2-small {
    width: 16.666666666666668%;
  }
  .row .column.span3-small {
    width: 25%;
  }
  .row .column.span4-small {
    width: 33.333333333333336%;
  }
  .row .column.span5-small {
    width: 41.666666666666664%;
  }
  .row .column.span6-small {
    width: 50%;
  }
  .row .column.span7-small {
    width: 58.333333333333336%;
  }
  .row .column.span8-small {
    width: 66.66666666666667%;
  }
  .row .column.span9-small {
    width: 75%;
  }
  .row .column.span10-small {
    width: 83.33333333333333%;
  }
  .row .column.span11-small {
    width: 91.66666666666667%;
  }
}
@media screen and (min-width: 1000px) {
  .row .column.span1-medium {
    width: 8.333333333333334%;
  }
  .row .column.span2-medium {
    width: 16.666666666666668%;
  }
  .row .column.span3-medium {
    width: 25%;
  }
  .row .column.span4-medium {
    width: 33.333333333333336%;
  }
  .row .column.span5-medium {
    width: 41.666666666666664%;
  }
  .row .column.span6-medium {
    width: 50%;
  }
  .row .column.span7-medium {
    width: 58.333333333333336%;
  }
  .row .column.span8-medium {
    width: 66.66666666666667%;
  }
  .row .column.span9-medium {
    width: 75%;
  }
  .row .column.span10-medium {
    width: 83.33333333333333%;
  }
  .row .column.span11-medium {
    width: 91.66666666666667%;
  }
}
@media screen and (min-width: 1200px) {
  .row .column.span1-large {
    width: 8.333333333333334%;
  }
  .row .column.span2-large {
    width: 16.666666666666668%;
  }
  .row .column.span3-large {
    width: 25%;
  }
  .row .column.span4-large {
    width: 33.333333333333336%;
  }
  .row .column.span5-large {
    width: 41.666666666666664%;
  }
  .row .column.span6-large {
    width: 50%;
  }
  .row .column.span7-large {
    width: 58.333333333333336%;
  }
  .row .column.span8-large {
    width: 66.66666666666667%;
  }
  .row .column.span9-large {
    width: 75%;
  }
  .row .column.span10-large {
    width: 83.33333333333333%;
  }
  .row .column.span11-large {
    width: 91.66666666666667%;
  }
}
.row:before,
.row:after {
  display: table;
  content: " ";
}
.row:after {
  clear: both;
}
.gutterSmall .row,
.row.gutterSmall {
  margin-left: -5px;
  margin-right: -5px;
}
.gutterSmall .row .column,
.row.gutterSmall .column {
  padding-left: 5px;
  padding-right: 5px;
}
.gutterMedium .row,
.row.gutterMedium {
  margin-left: -10px;
  margin-right: -10px;
}
.gutterMedium .row .column,
.row.gutterMedium .column {
  padding-left: 10px;
  padding-right: 10px;
}
.gutterLarge .row,
.row.gutterLarge {
  margin-left: -15px;
  margin-right: -15px;
}
.gutterLarge .row .column,
.row.gutterLarge .column {
  padding-left: 15px;
  padding-right: 15px;
}
.gutter1ex .row,
.row.gutter1ex {
  margin-left: -0.5ex;
  margin-right: -0.5ex;
}
.gutter1ex .row .column,
.row.gutter1ex .column {
  padding-left: 0.5ex;
  padding-right: 0.5ex;
}
.gutter2ex .row,
.row.gutter2ex {
  margin-left: -1ex;
  margin-right: -1ex;
}
.gutter2ex .row .column,
.row.gutter2ex .column {
  padding-left: 1ex;
  padding-right: 1ex;
}
.gutter3ex .row,
.row.gutter3ex {
  margin-left: -1.5ex;
  margin-right: -1.5ex;
}
.gutter3ex .row .column,
.row.gutter3ex .column {
  padding-left: 1.5ex;
  padding-right: 1.5ex;
}
.gutter4ex .row,
.row.gutter4ex {
  margin-left: -2ex;
  margin-right: -2ex;
}
.gutter4ex .row .column,
.row.gutter4ex .column {
  padding-left: 2ex;
  padding-right: 2ex;
}
